@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: helvetica;
  src: url("../assets/fonts/helvetica/Helvetica.ttf");
}
@font-face {
    font-family: helveticaBold;
    src: url("../assets/fonts/helvetica/Helvetica-Bold.ttf");
  }
* {
  font-family: helvetica;
}
